<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Create An account</h1>
    </header>
    <form action="/users" method="POST">
        <input type="text" name="name" value="username">
        <input type="submit" value="create account">
    </form>
</body>
</html>